{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <script src="{% static 'quiz/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'quiz/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Agrega la fuente de Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Estilos personalizados -->
</head>

<body>
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="p-2">
            <a class="btn btn-success" href="{% url 'leaderboard' %}">Leaderboard</a>
        </div>
    </div>
    <div class="custom-container">
        <div>
            <h1>Welcome to Quiz Game!!</h1>
            <form class="d-flex align-items-center justify-content-center" action="{% url 'play'  %}" method="POST">
                {% csrf_token %}
                <select name="modeValue" id="mode" class="choose-mode">
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
                <input type="submit" class="btn btn-primary play-button m-2" value="Play">
            </form>

        </div>
    </div>
</body>

</html>

